.header {
    grid-area: h;
    background-color: #c77905;
  }

.header img {
  height: 50px
}

.loginBlock {
    float: right;
    color: white;
    text-decoration: none;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}