.dialogs {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.dialog {

}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .dialog a {
    text-decoration: none;
    color: black;
}

.dialogsItems .active a {
    color: #ff6600;
}

.messages .message {
    padding: 10px;
    color: white;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}